%h1 Users

%table
  %thead
    %tr
      %th
        Name
      %th
        Email
      %th
        Password
      %th 
        Phone Number
      %th
        Address
      %th
        Address 2
      %th 
        City
      %th 
        State
      %th
        Zip Code
  %tbody
    = render partial: 'users/partials/users'

= javascript_include_tag 'users' 