<div id="mainsail">
  
  <div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;">
    <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;">
      <div id="bg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;">
        <!-- title box -->
        <div id="box1">
          <div id="topwords">
            <div class="small-12 small-centered" align="center" >
              <br>
              <br>
              <br>
              <h2 class="tribetitles"><span id="titlebanner">Lost</span><br><span id="titlebanner">Tribes</span><br><br><br>
              </h2>
                <div class="smallerlt"><section id="topgraph">Lost Tribes Beverages resurrects ancient brews from Lost Tribes and lost legends. Tales of old come to life by bringing a taste of history to people, like you, who are found. We honor all those who have not been able to tell their story and those who inspire us when they share theirs. We take pride in what we do and make our beverages with the finest ingredients, with you and the environment in mind.</section></div><br><br>
            </div>
          </div>
          <!-- title box -->
          <!-- First Band (Slider) -->
          <h1>Brew</h1>
          <div class="row">
            <div class="large-12 columns">
              <div class="bfeatures"><img src="./../PintCutoutShikra.png" id="sliders" class="darker"/><h4>Shikra</h4><p>Ancient Aramaic for “alcoholic beverage” and “profoundly delicious.” This vibrant pale ale has a hint of date and is our spin on an ancient Babylonian recipe recovered from a brewmaster named “Pup-uh.” Shikra's bold and refreshing hop character is elegantly balanced by a special blend of Caramel Malts. The brewing process is that of a traditional British Pale Ale, with a German-influenced New York twist. Spices of Chinook, Noble German Spalter, and citrus-like Cascade hops yield a balance and an experience unparalleled by any other beer. Recovered from the tribe of Judah whose family traveled through Babylon to North America before returning to the homeland.</p>
              </div>
              <br>
              <div class="bfeatures" ><img src="./../beerPintlightcut.png"id="sliders" class="lighter"/><h4>Light</h4><p>
              Lost Tribes’ Light is cold brewed and cold aged to perfection in a unique brewing process. The choice of using only the finest Pale and Munich malts makes this a LOW-CALORIE knockout that’s refreshingly tasty all by itself or as a partner with any meal. Subtly hopped in traditional German style, this delicious lager’s explosive flavor will have you second guessing whether you're really drinking a low-calorie brew.
              "Inspired by the Tribe of Benjamin some of whom traveled with Judah before returning to the homeland"</p>
              </div>
              <div class="bfeatures" id="tejdiv"><img src="./../LostTribes-tejbottle.png" class="tejpic" id="sliders"/><h4>Tej</h4><p>Our ancient style brew, described as "the drink of kings," is fermented with all natural wildflower honey and spicy gesho herbs. Myth claims the recipe was a gift from The Queen of Sheeba to King Solomon during his reign in the 9th century BCE. Gesho is traditionally used like hops for the preparation and flavoring of beverages. As you indulge in this sweet gingery nectar, you will be surprised by the pleasant bitterness of the gesho. As you peel back layers of the Tej, you’ll taste hints of coriander, citrus fruit, licorice, and heather flowers. Best when served chilled.
              Preserved from the Tribe of Dan who journeyed through Ethiopia before returning home.</p>
              </div>
            </div>
          </div>
          <div class="large-8 columns">
            <div class="panel radius">
              <div class="row">
                <div class="large-6 small-6 columns">
                  <h4>Wandering Since 722 BCE</h4><hr/>
                  <h5>Rare Selections from Lost Tribes</h5>
                  <br>
                </div>
              </div>
              <div class="row">
                
                
              </div>
              <!-- sticky barr -or not-->
              <div class="row">
                <div class="large-6 small-6 columns">
                  <h3 class="specialbeers">Lost Tribes Zuting [Zoo-ting]</h3>
                  <p class="specialbeers">
                  Brewed from a maize like porridge and rare yeasts of the Zimbabwe region, this heavy opaque beer should be sipped while sitting down.  Known for its heavy kick, travelers from around the world venture to the African continent to get a sip.
                  </p>
                  <br>
                  <br>
                  <h3 class="specialbeers">Lost Tribes Chibuku</h3>
                  <p class="specialbeers">
                  Preserved from the Lemba Tribe, who dwell in Southern Africa, and are known for their connection to ancient Israelite customs and culture.
                  </p>
                </div>
                <div class="icon" align="center">
                  <a href="#" data-reveal-id="myModal" class="default button">
                  Sign up for our email newsletter
                  </a>
                </div>
                <!-- activate modal button -->
                <!-- vendor button -->
                <div class="icon" align="center">
                  <a href="/vendors/new" class="button"> <i class="icon-tags"></i> Sign up to become a vendor</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-6 columns">
                <p></p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#home"></a></li>
                  <li><a href="#map"></a></li>
                  <li><a href="#vendors"></a></li>
                  <li><a href="#events"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>