<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html; charset=UTF-8" http-equiv="Content-type">
  </head>
  <body>
    <%= @user.email %>:
    <h1>Thanks for signing up with Lost Tribes Brew!</h1>
    <p>Now go to this website and buy stuff: <%= @url %></p>
  </body>
</html>