.hidden {
  display: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  margin: 0 0 0 0;
}

.event-display {
  background-color: white;
}

p {
  margin: 0;
}

h3 {
  margin: 0.2em 0 0 0 ;
}