%div.fixed
  %nav.top-bar
    %ul.title-area 
      %h3 
      %a{:href => "/"} Lost Tribes Brew
    %ul.left 
    %ul.right
      %li.active 
        %a{:href => "/events/new"} Events
        %a{:href => "/users"} Users

      


